* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-brand {
    font-family: "Grandiflora One", cursive;
    color: #A17D60;
}

.hero {
    background-image: url('https://source.unsplash.com/random/1920x1080/?cat');
}

/* 
* a propriedade abaixo vem nos elementos que tem a classe row
* ela estava deixando as imagens dos cards feias e eu nao queria tirar essa classe
* entao eu fiz a classe cards para selecionar somente esses cards especificos e remover o valor que tinha na propriedade
*/
.cards .card {
    --bs-gutter-x: 0;
}

.edt-foto {
    opacity: 0;
    transition: 1s ease-in-out;
}

.edt-foto:hover {
    opacity: 1;
}

.grid-template {
    grid-template-columns: auto auto auto;
    gap: 1rem;
}

@media only screen and (min-width: 768px) and (max-width: 992px){
    .grid-template {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 767px){
    .grid-template {
        grid-template-columns: auto;
    }
}

@media only screen and (min-width: 1200px){
    .grid-template {
        grid-template-columns: auto auto auto auto;
    }
}

@media only screen and (min-width: 1400px){
    .grid-template {
        grid-template-columns: auto auto auto auto auto;
    }
}


